In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_excel("Soccer-Stats-Premier-League-2024-2025_20250526 (1).xlsx",sheet_name=1)

In [3]:
print(df.head())

   Rank              Team  Points  MP  Win  Draw  Loss  GF  GA  GD  ...  \
0     1         Liverpool      84  38   25     9     4  86  41  45  ...
1     2           Arsenal      74  38   20    14     4  69  34  35  ...
2     3   Manchester City      71  38   21     8     9  72  44  28  ...
3     4           Chelsea      69  38   20     9     9  64  43  21  ...
4     5  Newcastle United      66  38   20     6    12  68  47  21  ...

   Home GA  Home Clean Sheets  Away MP  Away Win  Away Draw  Away Loss  \
0       16                  6       19        11          5          3
1       17                  7       19         9          8          2
2       23                  5       19         8          5          6
3       18                  6       19         8          4          7
4       20                  8       19         8          4          7

   Away GF  Away GA  Away Clean Sheets         Update Time
0       44       25                  8 2025-05-26 04:28:39
1       34       17                  6 2025-05-26 04:28:39
2       29       21                  8 2025-05-26 04:28:39
3       29       25                  5 2025-05-26 04:28:39
4       28       27                  5 2025-05-26 04:28:39

[5 rows x 27 columns]

In [4]:
df['win_probabilty(%)']=(df['Win']/df['MP']) * 100

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 28 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Rank               20 non-null     int64
 1   Team               20 non-null     object
 2   Points             20 non-null     int64
 3   MP                 20 non-null     int64
 4   Win                20 non-null     int64
 5   Draw               20 non-null     int64
 6   Loss               20 non-null     int64
 7   GF                 20 non-null     int64
 8   GA                 20 non-null     int64
 9   GD                 20 non-null     int64
 10  Clean Sheets       20 non-null     int64
 11  Deductions         20 non-null     int64
 12  Home MP            20 non-null     int64
 13  Home Win           20 non-null     int64
 14  Home Draw          20 non-null     int64
 15  Home Loss          20 non-null     int64
 16  Home GF            20 non-null     int64
 17  Home GA            20 non-null     int64
 18  Home Clean Sheets  20 non-null     int64
 19  Away MP            20 non-null     int64
 20  Away Win           20 non-null     int64
 21  Away Draw          20 non-null     int64
 22  Away Loss          20 non-null     int64
 23  Away GF            20 non-null     int64
 24  Away GA            20 non-null     int64
 25  Away Clean Sheets  20 non-null     int64
 26  Update Time        20 non-null     datetime64[ns]
 27  win_probabilty(%)  20 non-null     float64
dtypes: datetime64[ns](1), float64(1), int64(25), object(1)
memory usage: 4.5+ KB

In [6]:
df.head()
df['win_probability(%)']= df['win_probabilty(%)'].round(2)

In [7]:
print(df[['Team','Win','MP','win_probability(%)']].head(20))

                       Team  Win  MP  win_probability(%)
0                 Liverpool   25  38               65.79
1                   Arsenal   20  38               52.63
2           Manchester City   21  38               55.26
3                   Chelsea   20  38               52.63
4          Newcastle United   20  38               52.63
5               Aston Villa   19  38               50.00
6         Nottingham Forest   19  38               50.00
7    Brighton & Hove Albion   16  38               42.11
8           AFC Bournemouth   15  38               39.47
9                 Brentford   16  38               42.11
10                   Fulham   15  38               39.47
11           Crystal Palace   13  38               34.21
12                  Everton   11  38               28.95
13          West Ham United   11  38               28.95
14        Manchester United   11  38               28.95
15  Wolverhampton Wanderers   12  38               31.58
16        Tottenham Hotspur   11  38               28.95
17           Leicester City    6  38               15.79
18             Ipswich Town    4  38               10.53
19              Southampton    2  38                5.26